<section layout="row" flex>
  <left-sidebar></left-sidebar>
  <md-content flex layout-padding>
    <h1>Found in {{ vm.name }}.html</h1>
    <div layout="column" layout-fill="" layout-align="top center">
      <p>
        The left sidenav will 'lock open' on a medium (>=960px wide) device.
      </p>
      <p>
        The right sidenav will focus on a specific child element.
      </p>

      <div>
        <md-button ng-click="toggleLeft()" class="md-primary" hide-gt-md="">
          Toggle left
        </md-button>
      </div>

      <div>
        <md-button ng-click="toggleRight()" ng-hide="isOpenRight()" class="md-primary">
          Toggle right
        </md-button>
      </div>
    </div>

    <div flex=""></div>
  </md-content>
</section>
